body {
	background-color: #333	;
  }

.center{
    width:50%;
	margin:0 auto;
    padding:1%;
}
.form{
    width:100%;
    margin-top:2%;
    
}
.form-label{
    font-size: larger;
}
.form-control{
    padding:1% 2%;
    
}
.contain{
    -webkit-box-shadow: 25px 28px 47px 2px rgba(0,0,0,0.48);
    -moz-box-shadow: 25px 28px 47px 2px rgba(0,0,0,0.48);
     box-shadow: 25px 28px 47px 2px rgba(7, 0, 0, 0.48);
	background-color: antiquewhite;

}

#result{
	margin-top: 4%;
	text-align: center;
	color:#02410b;
}

.heading{
	width:50%;
	margin:0 auto;
	padding:2% 0;
	text-align: center;
	margin-top:2%;
	color:rgb(250, 165, 54);
	background-size:16px 16px;
}

.hide{
	display: none;
	/* visibility: hidden; */
}

.show{
	width:100%;
	background: none;
	margin:0 auto;
	margin-top: 2%;
	background-color: #333;
	color: antiquewhite;
	font-size: 200%;
	display: flex;
	
}
#body{
	max-height: 200px;
	text-align: center;
}
#res{
	font-size: larger;
	text-align: center;
}
#body{
	object-fit: contain;
}

@media screen and (max-width:820px) {
	.form{
		margin:0 auto;
		padding:1%;
		font-size: x-large;
		width:100%;
		height:100%;
		position: absolute;
	}
	.center{
		width:100%;
	}
	
}
